@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-family: 'Pretendard-Regular';
    @apply text-neutral-800
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(173, 173, 173, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.focusBorder {
    position: sticky;
    inset: -1px;
    border: 1px solid #F2CB05;
    box-shadow: #ceac0442 0px 0px 0px 3px, #f2cb05ab 0px 1px 3px 0px;
    border-radius: 4px;
    z-index: 5;
    pointer-events: none;
    content: "";
}

.customOverlay {
    @apply bg-white py-2 px-4 rounded-full border-primary border-2 max-w-52 relative
}

.customOverlay p {
    @apply truncate font-bold text-sm
}

.customOverlay .number {
    @apply absolute right-0 -top-2 bg-white w-6 h-5 text-xs rounded-full border-2 border-primary flex flex-col items-center justify-center
}

.customOverlay::before  {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -4px;
    content: "";
    box-shadow: rgb(61 61 61 / 50%) -2px -5px 4px 0px;
    width: 12px;
    height: 3px;
    background-color: transparent;
}

.customOverlay::after  {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    transform: rotate(55deg) skew(17deg);
    content: "";
    background-color: #fff;
    border-right: 2px solid #F2CB05;
    border-bottom: 2px solid #F2CB05;
}

.customOverlay-list {
    box-shadow: 0px 0px 6px 0px #3232324f;
    @apply bg-white rounded-sm max-w-52 relative bottom-9
}

.customOverlay-list p {
    @apply truncate font-bold text-sm border-b px-4 py-2 last:border-b-0 border-trueGray-300
    
}

.slider-container:hover .slick-arrow{
 @apply opacity-100
}

.slick-list {
    max-height: 208px;
}

.slick-arrow.slick-next {
    @apply right-2 opacity-0
}

.slick-arrow.slick-prev {
    @apply left-2 z-10 opacity-0
}