@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-family: 'Pretendard-Regular';
    @apply text-neutral-800
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(173, 173, 173, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.focusBorder {
    position: sticky;
    inset: -1px;
    border: 1px solid #F2CB05;
    box-shadow: #ceac0442 0px 0px 0px 3px, #f2cb05ab 0px 1px 3px 0px;
    border-radius: 4px;
    z-index: 5;
    pointer-events: none;
    content: "";
}